._aty-site-header {
  position: relative;
  display: block;
  width: 100%;

  ._aty-primary-logo {
    ._aty-href {
      ._aty-img {
        max-width: 200px;
        height: auto;
      }
    }
  }
}
