._aty-site-header {
	position: relative;
	display: block;
	width: 100%;
	padding: 10px 0px;
	._aty-primary-logo {
		._aty-href {
			._aty-img {
				max-width: 200px;
				height: auto;
			}
		}
	}

	._aty-block{
		padding-right: 15px;
		padding-left: 15px;
	}

	._aty-header-menu {
		list-style: none;

		UL{
			padding: 0px;
			margin: 0px;
			li {
				display: inline-block;
				padding: 0px 20px;
				
				&:first-child{
					padding-left: 0px;
				}

				
				&:last-child{
					padding-right: 0px;
				}

				a {
					// color: #828484;
					color: #222222;
					text-decoration: none;
					font-size: 16px;
	
					&:hover {
						color: #474749;
					}
	
					&.current-menu-item {
						color: #474749;
					}
				}
			}
		}
	}

	._aty-search-block {
		display: flex;
		justify-content: flex-end;
	}

	._aty-header-search-form {
		display: none;
	}
}

.search-form {
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-content: center;

	label {
		width: 100%;
	}

	.search-field {
		border: none;
		padding: 10px;
		width: 100%;
	}

	.search-submit {
		border: none;
		background: #474749;
		padding: 5px 10px;

		img {
			width: 20px;
			display: block;
			padding: 3px;
		}
	}
}

._aty-space-section {
	width: 100%;
	height: 50px;
}
