@import 'variables';
@import 'mixins';
@import 'grid';
@import 'normalize';
@import 'base';


//Title Color
.entry-title {
	color: $color-3;
}

//Seprator
._aty-bar {
	width: 90px;
	height: 2px;
	border: 0;
	margin: 15px 0px;
	display: block;
	background-color: $color-4;
}

._aty-space-section {
	width: 100%;
	height: 50px;
}



.search-form {
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	position: relative;

	label {
		width: 100%;
	}

	.search-field {
		width: 100%;
		padding: 10px;
		border: 0;
		outline: 0;
		font-size: 12px;
		text-align: left;
		vertical-align: middle;
	}

	.search-submit {
		border: none;
		background: $color-4;
		padding: 3px;
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;

		img {
			width: 22px;
			display: block;
		}
	}
}
