._aty-grid-2 {
	width: 100%;

	@include breakpoint(tablet) {
		width: 50%;
	}
}
._aty-grid-4 {
	width: 100%;

	@include breakpoint(phablet) {
		width: 50%;
	}

	@include breakpoint(laptop) {
		width: 25%;
	}
}

._aty-grid-3 {
	width: 100%;

	@include breakpoint(phablet) {
		width: 33.3%;
		min-height: 290px;
	}
}

