$harmattan: 'Harmattan', sans-serif;
$literata: 'Literata', serif;
$color-1:#e71d25;
$color-2:#f48889;

$color-3:#444749; 
$color-4:#d5902a;

$gradientPrimary: linear-gradient(to top, #e71d25, #e9272c, #ea3033, #ec383a, #ed3f40, #ef4948, #f15251, #f25a59, #f36665, #f47271, #f47d7d, #f48889);
$gradientSecondary: linear-gradient(to top, #e71d25, #ed4140, #f25b59, #f47272, #f48889);