*:focus {
  outline: 0;
}

input,
select,
textarea {
  background-color: transparent;
  border: solid 2px $dark-grey;
  border-radius: 0;
  padding: 0 12px;
  width: 100%;
  margin-bottom: 10px;
  height: 50px;
  color: $base-colour;
  &::placeholder {
    color: $base-colour;
  }
}

option {
  color: #000;
}

input[type="checkbox"],
input[type="radio"] {
  background: transparent;
  border: 0;
  line-height: normal;
  height: auto;
  width: auto;
}

input[type="file"] {
  line-height: normal;
  height: auto;
  padding: #{$base-spacing-unit / 4} #{$base-spacing-unit / 2};
}

select {
  line-height: normal;
  width: 100%;
}

textarea {
  overflow: auto;
  resize: vertical;
  display: block;
  width: 100%;
  height: 325px;
  resize: none;
  padding-top: 10px;
  padding-bottom: 10px;
}

/**
 * Form utility classes
 */

.form-control {
  .form--inline {
    &.form__group {
      display: inline-block;
    }
  }

  .form__group {
    display: block;
    margin-bottom: $base-spacing-unit;
    width: 100%;
    border: 1px solid $brand-color;
    .form__label {
      display: block;
      margin-bottom: ($base-spacing-unit / 2);
    }
  }
}
